.item {
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}
.item-delete {
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 15px;
  color: #d12f2f;
  text-align: center;
  line-height: 40px;
  background: none;
  border: none;
  border-radius: 20px;
}
.item-delete:hover {
  background: #edeef0;
}
.item-edit {
  position: absolute;
  right: 60px;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 15px;
  color: #070606;
  text-align: center;
  line-height: 20px;
  background: none;
  border: none;
  border-radius: 20px;
}

.item-edit:hover {
  background: #edeef0;
}
.item-edit img {
  width: 30px;
  margin-left: 10px;
}
